/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region TYPOGRAPHY*/

body {
    font-family: 'Montserrat', sans-serif;
}

/* #endregion TYPOGRAPHY*/

/* #region COMMON*/

body {
    /* height: 100vh; */
}

main {
    height: calc(100% - 5.625rem);
    display: flex;
}

ul {
    list-style-type: none;
}

.add {
    width: 15rem;
    margin: 1.25rem 0;
}

.container h2 {
    color: #fff;
    margin-left: 1.875rem;
}

.container h4 {
    color: #555555;
    margin-left: 1.875rem;
}

.card h3 {
    margin: .625rem 0;
    color: #fff;
}

.card h4 {
    color: #555555;
    text-align: center;
    margin: 0;
}

/* #endregion COMMON*/

/* #region MAIN*/

.sidebar {
    padding: .3125rem .625rem;
    color: #fff;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 2.5rem;
    color: #555555;
    font-weight: bold;
}

.sidebar .top,
.sidebar .bottom {
    width: 100%;
}

.sidebar span {
    display: none;
}

.logo img {
    display: block;
}

#logo {
    width: 8.25rem;
    display: none;
}

#small-logo {
    height: 1.5625rem;
    width: 1.5625rem;
}

.sidebar .icon img,
.sidebar .bottom img {
    height: 1.5625rem;
    width: 1.5625rem;
    vertical-align: middle;
}

.playlist .list {
    height: 100vh;
    overflow: hidden;
}

.bottom {
    width: 100%;
    position: sticky;
    left: 0;
    bottom: 0;
    background-color: black;
}

.plus {
    display: inline-block;
    width: 3rem;
    font-size: 2.5rem;
    text-align: center;
    vertical-align: middle;
    margin-right: .75rem;
    color: #000;
    background-color: #555555;
}

.playlist {
    display: none;
}

.container {
    background-color: #141922;
    flex-grow: 1;
    font-size: .75rem;
}

.upgrade {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 5.625rem;
    background-color: #080b12;
    opacity: 0.5;
    padding-right: .625rem;
}

.upgrade .btn {
    color: #fff;
    border: .125rem solid #fff;
    background-color: #080b12;
    border-radius: 1.875rem;
    padding: .625rem 1.5rem;
    font-size: .75rem;
    font-weight: bold;
}

.container .top-menu {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    color: #7d7f84;
    font-weight: bold;
    font-size: .75rem;
    margin-bottom: 3.125rem;
}

.container .top-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.container .row {
    display: flex;
    flex-wrap: wrap;
    padding-left: .625rem;
}

.container .row .card {
    width: calc(100% / 2 - 1.25rem);
    margin: .625rem;
}

.container .row .card img {
    width: 100%;
}

.container .row .card .title {
    text-align: center;
}

.container .row .card.rounded img {
    border-radius: 50%;
}

/* #endregion MAIN*/


/* #region FOOTER*/

footer {
    height: 5.625rem;
    padding: 0 .625rem;
    color: #fff;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h6,
.footer-icon i {
    color: #555555;
}

footer .left .song {
    display: flex;
}

footer .left .song img {
    width: 10%;
    padding: .5rem;
    display: block;
}

footer .left .footer-title {
    margin-left: .625rem;
    margin-right: 1.5625rem;
    align-self: center;
}


footer .left .footer-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .left .footer-icon i {
    padding: .1875rem;
}

footer .left,
footer .right {
    width: 25%;
}

footer .central {
    width: 50%;
}

footer .central .player {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5625rem;
    font-size: 1.5rem;
}

.fa-regular.fa-circle-play {
    font-size: 2.125rem;
}

footer .right {
    display: flex;
    justify-content: end;
}

footer .right i {
    padding: 10px;
}


/* #endregion FOOTER*/



/* #region RESPONSIVE*/

@media screen and (min-width:577px) {

    .sidebar {
        width: 15rem;
        align-items: start;
        padding: .625rem 1.25rem;
    }

    .sidebar img {
        margin-right: .625rem;
    }

    .sidebar span {
        display: inline-block;
    }

    #small-logo {
        display: none;
    }

    .logo {
        padding-bottom: 1.875rem;
    }

    #logo {
        display: block;
    }

    .playlist {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .install {
        border-bottom: .0625rem solid grey;
    }

    .container .row .card {
        width: calc(100% / 4 - 1.25rem);
    }

}

@media screen and (min-width:768px) {

    .container .row .card {
        width: calc(100% / 5 - 1.25rem);
    }


}

@media screen and (min-width:992px) {

    .container .row .card {
        width: calc(100% / 6 - 1.25rem);
    }


}

/* #endregion RESPONSIVE*/