/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region TYPOGRAPHY*/

body {
    font-family: 'Montserrat', sans-serif;
}

footer .right i {
    font-size: .75rem;
}

/* #endregion TYPOGRAPHY*/

/* #region COMMON*/

body {
    display: flex;
}

main {
    height: calc(100% - 5.625rem);
}

ul {
    list-style-type: none;
}

.add {
    margin: 1.25rem 0;
}

.container h2 {
    color: #fff;
    margin-left: 1.875rem;
}

.container h4 {
    color: #555555;
    margin-left: 1.875rem;
}

.card h3 {
    margin: .625rem 0;
    color: #fff;
}

.card h4 {
    color: #555555;
    text-align: center;
    margin: 0;
}

.hoverbar {
    height: .3125rem;
    border-radius: .625rem;
    background-color: #555555;
}

.bar {
    height: .3125rem;
    border-radius: .625rem;
    background-color: #7d7f84;
}

/* #endregion COMMON*/

/* #region Sidebar */

.sidebar {
    width: 3.125rem;
    padding: .3125rem .625rem;
    color: #fff;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 2.5rem;
    color: #555555;
    font-weight: bold;
    z-index: 2;
}

.sidebar .top,
.sidebar .bottom {
    width: 100%;
}

.sidebar span {
    display: none;
}

.sidebar .logo img {
    display: block;
}

#logo {
    width: 8.25rem;
    display: none;
}

#small-logo {
    height: 1.5625rem;
    width: 1.5625rem;
}

.sidebar .icon img,
.sidebar .bottom img {
    width: 1.5625rem;
    vertical-align: middle;
}

.sidebar .playlist .list {
    height: 100vh;
    overflow: hidden;
}

.sidebar .bottom {
    width: 100%;
    position: sticky;
    left: 0;
    bottom: 5.625rem;
    background-color: black;
}

.sidebar .bottom .install,
.sidebar .bottom .profile {
    display: flex;
}

.sidebar .bottom .install-icon {
    width: 1.25rem;
}

.sidebar .bottom .install-icon img {
    width: 100%;
}

.sidebar .bottom .profile-icon {
    margin-top: .3125rem;
    border-radius: 50%;
    background-color: #7d7f84;
    width: 1.875rem;
    height: 1.875rem;
    overflow: hidden;
}

.sidebar .bottom .profile h3 {
    color: #fff;
    margin-left: .625rem;
}

.sidebar .bottom .profile-icon img {
    width: 1.875rem;
    height: 1.875rem;
}

.sidebar .playlist .add .plus {
    display: inline-block;
    width: 3rem;
    font-size: 2.5rem;
    text-align: center;
    vertical-align: middle;
    margin-right: .75rem;
    color: #000;
    background-color: #555555;
    cursor: pointer;
}

.playlist {
    display: none;
}

.sidebar span:hover {
    filter: brightness(3);
}

.playlist .list li:hover {
    filter: brightness(3);
}

.playlist .add .plus:hover {
    filter: brightness(3);
}

/* #endregion Sidebar */

/* #region MAIN*/

.container {
    background-color: #141922;
    flex-grow: 1;
    font-size: .75rem;
    padding-bottom: 5.625rem;
}

/* Header */

.upgrade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 5.625rem;
    background-color: rgba(8, 11, 18, 0.5);
    padding-right: 1.25rem;
    z-index: 1;
}

.upgrade .btn {
    color: #fff;
    border: .125rem solid #fff;
    background-color: transparent;
    border-radius: 1.875rem;
    padding: .625rem 1.5rem;
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.upgrade .btn:hover {
    scale: 1.2;
}

/* /Header */


/* Top-menu */

.container .top-menu {
    padding-top: 7.5rem;
    display: flex;
    justify-content: center;
    color: #7d7f84;
    font-weight: bold;
    font-size: .75rem;
    margin-bottom: 3.125rem;
    text-transform: uppercase;
}

.container .top-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.container .top-menu li:hover {
    filter: brightness(3);
}

/* /Top-menu */

/* Sezione brani */

.container .row {
    display: flex;
    flex-wrap: wrap;
    padding: 1.25rem .625rem;
}

.container .row .card {
    width: calc(100% / 2 - 1.25rem);
    margin: .625rem;
}

.row .card .cover {
    position: relative;
}

.card i {
    color: #fff;
    font-size: 4.5rem;
}

.play {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.play i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.row .card .cover:hover .play {
    display: block;
}

.container .row .card img {
    width: 100%;
    display: block;
}

.container .row .card .title {
    text-align: center;
    height: 20%;
}

.container .row .card.rounded img {
    border-radius: 50%;
}

.card.rounded .play {
    border-radius: 50%;
}

/* /Sezione brani */

/* #endregion MAIN*/

/* #region FOOTER*/

/* Footer-left */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 5.625rem;
    color: #fff;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 2;
}

footer h6,
.footer-icon i {
    color: #555555;
}

footer .left,
footer .central,
footer .right {
    width: 30%;
}

footer .left .song {
    display: flex;
    width: 100%;
}

footer .left .song img {
    width: 100%;
    display: block;
}

footer .left .song .footer-image {
    width: 3.125rem;
    margin: auto 0;
}

footer .left .footer-title {
    margin-left: .625rem;
    align-self: center;
    display: flex;
    gap: .3125rem;
}


footer .left .footer-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .left .footer-icon i {
    padding: .1875rem;
}

/* /Footer-left */

/* Footer-central */

footer .central {
    display: flex;
    justify-content: center;
}

footer .central .player {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5625rem;
    font-size: .9375rem;
    margin-bottom: .9375rem
}

footer .central .fa-circle-play {
    font-size: 2.125rem;
}

footer .central .time {
    display: flex;
    align-items: center;
    font-size: .625rem;
    font-weight: bold;
}

footer .bar {
    width: 20%;
}

footer .central .hoverbar {
    margin: .625rem;
    width: 100%;
}

/* /Footer-central */

/* Footer-right */

footer .right {
    display: flex;
    justify-content: end;
    align-items: center;
}

footer .right .time {
    width: 6.25rem;
}

footer .right .hoverbar {
    margin-left: .625rem;
}


footer .right .right-icon {
    display: flex;
}

footer .right i {
    padding-left: .625rem;
}

/* /Footer-right */

/* #endregion FOOTER*/

/* #region RESPONSIVE*/

@media screen and (min-width:577px) {

    /*Sidebar */

    .sidebar {
        width: 15rem;
        align-items: start;
        padding: .625rem 1.25rem;
    }

    .sidebar span {
        margin-left: .625rem;
    }

    .sidebar span {
        display: inline-block;
    }

    #small-logo {
        display: none;
    }

    .logo {
        padding-bottom: 1.875rem;
    }

    #logo {
        display: block;
    }

    .playlist {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .install {
        border-bottom: .0625rem solid grey;
    }

    /*Footer */

    footer .left,
    footer .right {
        width: 20%;
    }

    footer .central {
        width: 60%;
    }

    footer .central .central-box {
        width: 50%;
    }

    footer .right .time {
        min-width: 6.25rem;
    }
}


@media screen and (min-width:768px) {

    /*Cover */

    .container .row .card {
        width: calc(100% / 4 - 1.25rem);
    }

}

@media screen and (min-width:992px) {

    /*Cover */

    .container .row .card {
        width: calc(100% / 6 - 1.25rem);
    }

}

/* #endregion RESPONSIVE*/