/* Common */

body {
    background-color: var(--bg-main);
}

.sidebar {
    color: var(--menu);
    background-color: var(--bg-menu);
}

.sidebar,
.small-sidebar {
    z-index: 99;
}

button {
    all: unset;
}

.main-container {
    margin-left: 15rem;
}